<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <h1>Dashboard</h1>
    <p>Welcome User</p>

    <a href="/upload">
        <button>Upload Progress Photo</button>
    </a>

    <a href="/progress">
        <button>View Progress</button>
    </a>
    

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

  </body>
</html>
